.sidenav {
    background-image: url("../assets/nav-bg.png");
}

.font_01 {
    font-family: 'Play', sans-serif;
}

#pageLoad {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.overlay {
    position: absolute;
    z-index: 5;
}

.mas-logo{
    position: absolute;
    bottom: 25px;
    right: 90px;
}